* {
  font-family: "Open Sans", sans-serif;
}

$primary: #424add;
$secondary: #db2b2b;
$light-gray: #eff1f5;
$medium-gray: #a1a1a1;
$dark-gray: #696969;

body {
  background-color: $light-gray;
}

.section {
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.section--statistics {
  display: flex;

  .stat-block {
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    padding: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
    }
    p {
      color: $medium-gray;
      font-size: 0.8rem;
      margin-top: 0.25rem;
    }
  }
}

.icon {
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  color: $primary;
  display: flex;
  font-size: 1.1rem;
  height: 3.5rem;
  justify-content: center;
  margin-right: 1rem;
  min-width: 3.5rem;

  &--red {
    color: $secondary;
  }
}

.section--signups {
  background-color: #fff;
  margin: 0.3rem 2rem;
  border-radius: 0.5rem;

  h4 {
    margin-top: 0.3rem;
  }

  .search-block {
    display: flex;

    input[type="text"],
    select {
      border: 1px solid $light-gray;
      border-radius: 5rem;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      padding: 0.6rem 1rem;

      &::placeholder {
        color: $medium-gray;
      }

      &:focus-visible {
        outline: none;
      }
    }

    input[type="text"] {
      width: 75%;
    }

    select {
      width: 25%;
    }
  }

  .person {
    display: flex;
    align-items: center;

    &-info {
      width: calc(75% - 3.5rem);
    }

    .country {
      width: 25%;
    }
  }
}
