* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #eff1f5;
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 2rem;
}

.section--statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--statistics .stat-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.section--statistics .stat-block:not(:last-child) {
  margin-right: 1rem;
}

.section--statistics .stat-block h3 {
  font-size: 1.8rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.section--statistics .stat-block p {
  color: #a1a1a1;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  color: #424add;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  height: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  min-width: 3.5rem;
}

.icon--red {
  color: #db2b2b;
}

.section--signups {
  background-color: #fff;
  margin: 0.3rem 2rem;
  border-radius: 0.5rem;
}

.section--signups h4 {
  margin-top: 0.3rem;
}

.section--signups .search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section--signups .search-block input[type="text"],
.section--signups .search-block select {
  border: 1px solid #eff1f5;
  border-radius: 5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 0.6rem 1rem;
}

.section--signups .search-block input[type="text"]::-webkit-input-placeholder,
.section--signups .search-block select::-webkit-input-placeholder {
  color: #a1a1a1;
}

.section--signups .search-block input[type="text"]:-ms-input-placeholder,
.section--signups .search-block select:-ms-input-placeholder {
  color: #a1a1a1;
}

.section--signups .search-block input[type="text"]::-ms-input-placeholder,
.section--signups .search-block select::-ms-input-placeholder {
  color: #a1a1a1;
}

.section--signups .search-block input[type="text"]::placeholder,
.section--signups .search-block select::placeholder {
  color: #a1a1a1;
}

.section--signups .search-block input[type="text"]:focus-visible,
.section--signups .search-block select:focus-visible {
  outline: none;
}

.section--signups .search-block input[type="text"] {
  width: 75%;
}

.section--signups .search-block select {
  width: 25%;
}

.section--signups .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section--signups .person-info {
  width: calc(75% - 3.5rem);
}

.section--signups .person .country {
  width: 25%;
}
/*# sourceMappingURL=dashboard.css.map */